<div id="intro-notices">

  {% if locale == "fr" %}
    <p>En téléchargeant le logiciel Adblock Plus ou le navigateur Adblock Browser, vous acceptez que si vous utilisez Adblock Plus pour visiter un site Internet en violation de toute obligation ou droit de quelque nature que ce soit en relation avec ce site Internet, en aucun cas EYEO ne pourra être tenu pour responsable envers vous ou tout autre tiers pour toute perte ou dommage (y compris, sans y être limité, les dommages pour perte de chances et perte de bénéfices) découlant directement ou indirectement de votre utilisation de ce logiciel.</p>
  {% endif %}

  {% if locale in ["zh_CN", "zh_TW"] %}
    <p>使用傲游云浏览器，享受最好的广告过滤体验. (内置Adblock Plus) <a href="http://www.maxthon.cn/">下载傲游云浏览器</a></p>
  {% endif %}

  <p class="show-on-msie">{{ "Adblock Plus for Internet Explorer is supported by eyeo GmbH on the following editions of Windows 10 – Windows 10 Pro, Windows 10 Education and Windows 10 Enterprise. Adblock Plus for Internet Explorer is supported on the in-market supported servicing branches of Windows 10 including - Current Branch, Current Branch for Business and the following Long-Term Servicing Branch: Windows 10." | translate("msie-conditional-message") }}</p>

</div>
