<div id="hero" class="container">
  <section>
    <div class="row reverse">
      <div class="column one-half content text-center">
        <img
          src="/img/bubble-ui-desktop-and-aa.svg"
          alt="{{ hero-banner-alt[banner alt text] The Adblock Plus for Chrome interface }}"
          id="bubble-ui-desktop-and-aa">
        <img
          src="/img/bubble-ui-desktop.svg"
          alt="{{ hero-banner-alt[banner alt text] The Adblock Plus for Chrome interface }}"
          id="bubble-ui-desktop">
      </div>
      <div class="column one-half content">
        <header>
          <h1 class="hero-heading">
            {{ hero-heading[heading] Download Adblock Plus for Chrome }}
          </h1>
          <p class="hero-subheading">
            {{ hero-subheading[heading] Experience a cleaner, faster web without annoying ads }}
          </p>
        </header>
        <div class="download">
          <p>
            {{ hero-paragraph-1 Adblock Plus blocks advertisements which might be intrusive and malicious, while supporting website creators by allowing <a href="acceptable-ads">Acceptable Ads</a> by default (this, however, is configurable). }}
          </p>
          <p>
            {{ hero-download-tos By clicking on the button below, you agree to our <a href="terms" class="legal">Terms of Use</a> }}.
          </p>
          <p class="download-spacing">
            <a
              class="button icon-button"
              href="https://eyeo.to/adblockplus/chrome_install/adblock-plus-chrome">
              <img
                src="/img/dl_button_chrome_color.svg"
                alt="{{ hero-browser-alt[alt text] Chrome browser icon }}" class="button-image">
              <span class="button-text">{{ hero-download-label[button label] Get Adblock Plus for Chrome }}</span>
            </a>
          </p>
          <p>
            <a href="download">{{ hero-download-other-label[link text] Download Adblock Plus for another browser }}</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
